.bannerHeaderContainer{
    position: relative;
    width: 100%;
    height: 300px;
    aspect-ratio: 16 / 6;
    overflow: visible;
    display: block;
}

.headerBanner{
   width: 100%;
   height: 100%;
   object-fit: cover;
   display: block;
   border-radius: 14px;
}

.bannerIcon2{
    width: var(--icon-size);
    height: var(--icon-size);
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    bottom: -30%;
    border: 3px solid var(--highlight-color);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.footerBanner{
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
    border-radius: 14px;
    margin-top: 20px;
}
/*
.bannerIcon2{
    width: var(--icon-size);
    height: var(--icon-size);
    object-fit: cover;
    border-radius: 50%;

    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 50%); 

    z-index: 10;
    background: var(--primary-color);
    border: 6px solid var(--highlight-color);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);
}*/