*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
html, body{
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
:root {
    --primary-color: #faebd7;
    --secondary-color: #deb887;
    --accent-color: #a52a2a;
    --highlight-color: #dc143c;
    --button-color:#7fff00;
    --text-color: #333;
    --button-hover-color:#b8860b;
    --header-icon-size: 60px;
    --icon-size: clamp(80px, 12vw, 150px);
    --content-max-width: 1440px;
    --header-height: 96px;
    --header-offset-x:12px;
}

#app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
}