.mainInfoSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.mainInfoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
    gap: 50px;
    background-color: var(--primary-color);
}

.mainInfoTitleContainer{
    text-align: left;
    align-self: flex-start;
    padding: 10px;
    margin: 0;
}