.menuTabsSection{
    background-color: var(--secondary-color);
    font-family: 'Ubuntu', sans-serif;
    margin: 10px 0 10px 0;
    border-radius: 14px;
}

.menuTabsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 80px;
    justify-content: center;
    padding: 20px;
}

.menuTabsNav{
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menuTab{
    background-color: var(--highlight-color);
    color: whitesmoke;
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.menuTab:hover{
    transform: scale(1.1);
    background-color: var(--button-color);
    color: var(--highlight-color);
}

.menuTab.active{
    background-color: var(--button-color);
    color: var(--highlight-color);
    border: 2px solid var(--highlight-color);
}

.menuItemsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    padding: 20px;
}

.menuItemCard{
    background-color: var(--primary-color);
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Ubuntu', sans-serif;
}

.menuItemHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.price{
    font-size: 18px;
    color: var(--highlight-color);
    font-weight: bold;
}

.menuItemText{
    font-size: 18px;
    color: var(--text-color);
    margin-bottom: 20px;
}

.menuItemActions{
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.addBtn{
    background-color: var(--highlight-color);
    border: 2px solid var(--highlight-color);
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.addBtn:hover{
    background-color: var(--button-color);
    color: var(--highlight-color);
}

.likeBtn{
    background-color: transparent;
    border: 2px solid var(--highlight-color);
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.likeBtn:hover{
    background-color: var(--highlight-color);
}

.likeIcon{
    background-color: transparent;
}

.likedIcon{
    display: none;
    color: transparent;
    background-color: var(--highlight-color);
}