/* headerTitleStyle*/

#header{
    display: grid;
    grid-template-areas: 
        "headerSection"
        "headBanner";
    gap: 1fr;
    align-items: start;
    padding: 1rem;
}

.headerSection {
    grid-area: headerSection;
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.headerContainer{
    display: flex;
    justify-content: space-between;
}

#headerLogo {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 10px;
}

.headerTitle {
    font-weight: 900;
    font-size: 3.1rem;
    color: #333;
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
}

.headerIcon img {
    width: var(--header-icon-size);
    height: var(--header-icon-size);
}

#basketIcon {
    display: inline-flex;
    align-items: center;
    border: var(--secondary-color) 5px solid;
    border-radius: 10px;
    padding: 5px ;
    cursor: pointer;
}

.basketBadge{
    font-size: 30px;
    font-weight: 700;
    color: black;
    border-radius: 50%;
    padding: 5px 10px;
}


/* headerBannerSection*/

.headBanner {
    grid-area: headBanner;
}

.bannerContainer {
    position: relative;

}

 .bannerImage {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.bannerIcon {
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: 60px;
    height: 60px;
}

.bannerIcon img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


